Package: oscilloscope
Version: 3.0.0
Section: electronics
Priority: optional
Homepage: https://github.com/EdwardCamiloQC/Osciloscope
Architecture: amd64
Depends: libepoxy0, libserial1, libudev1, libusb-1.0-0, libgtk-4-1
Maintainer: Edward Camilo
Description: Personal Oscilloscope.
 A digital oscilloscope application for Linux.
