.led-on{
    background-color: green;
    border-radius: 25px;
    min-width: 50px;
    min-height: 50px;
}

.led-off{
    background-color: red;
    border-radius: 25px;
    min-width: 50px;
    min-height: 50px;
}
