.led-on{
    background-image: none;
    background-color:green;
    color:black;
    border-color:white;
    border-radius:25px;
    min-width:50px;
    min-height:50px;
}

.led-off{
    background-image: none;
    background-color:red;
    color:black;
    border-color:white;
    border-radius:25px;
    min-width:50px;
    min-height:50px;
}
