[Desktop Entry]
Type=Application
Name=Osciloscopio
GenericName=Osciloscopio Digital
Comment=Osciloscopio para Linux.
Exec=/usr/bin/Osciloscopio
Icon=iconApp
Terminal=false
StartupNotify=true
Categories=Electronics;
