.led-on{
    color:black;
    font-family: monospace;
    font-size: larger;
    padding: 10px;
    border: 3px;
    border-color: cyan;
    border-style: solid;
    border-radius:25px;
    background-image: radial-gradient(ellipse at center, green, white);
}

.led-off{
    color: black;
    font-family: monospace;
    font-size: larger;
    padding: 10px;
    border: 1px;
    border-color: cyan;
    border-style: solid;
    border-radius:25px;
    background-image: radial-gradient(ellipse at center, red, white);
}

.led-on:hover{
    border-style: groove;
    background-image: radial-gradient(ellipse at center, darkgrey, darkcyan);
}

.led-off:hover{
    border-style: groove;
    background-image: radial-gradient(ellipse at center, darkgrey, darkcyan);
}

.port-opened{
    color: black;
    min-width:50px;
    min-height:50px;
    font-family: monospace;
    font-size: large;
    padding: 10px;
    border: 3px;
    border-color: cyan;
    border-style: solid;
    border-radius: 25px;
    background-image: radial-gradient(ellipse at center, green, white);
    background-position: center;
}
.port-closed{
    color: black;
    min-width:50px;
    min-height:50px;
    font-family: monospace;
    font-size: large;
    padding: 10px;
    border: 1px;
    border-color: cyan;
    border-style: solid;
    border-radius: 25px;
    background-image: radial-gradient(ellipse at center, red, white);
    background-position: center;
}
.port-opened:hover{
    border-color: cyan;
    border-style: groove;
    background-image: radial-gradient(ellipse at center, darkgrey, darkcyan);
}
.port-closed:hover{
    border-color: cyan;
    border-style: groove;
    background-image: radial-gradient(ellipse at center, darkgrey, darkcyan);
}

.doc{
    color:black;
    font-family: monospace;
    font-size: larger;
    padding: 10px;
    border: 2px;
    border-color: cyan;
    border-style: groove;
    background-image: radial-gradient(ellipse at center, rgb(74, 59, 78), white);
}
.doc:hover{
    border-style: groove;
    background-image: radial-gradient(ellipse at center, darkgrey, darkcyan);
}
