.consoleTerminal{
    background-image: linear-gradient(to top, red, black, red);
}

.consoleTerminal textview{
    font-size: medium;
    font-style: italic;
    padding: 5px;
    border: 5px;
    border-color: darkcyan;
    border-style: groove;
    border-radius: 20px;
    background-color: #fdfcf7;

    background-image:
        /* Línea vertical roja (margen) */
        linear-gradient(to right,
            transparent 0px,
            transparent 40px,
            rgba(220, 80, 80, 0.6) 15px,
            transparent 42px
        ),

        /* Líneas horizontales */
        repeating-linear-gradient(
            to bottom,
            transparent 0px,
            transparent 22px,
            rgba(100, 140, 255, 0.35) 23px,
            transparent 24px
        );

    background-size:
        100% 100%,
        100% 24px;
}

.consoleTerminal scrollbar.vertical{
    min-width: 15px;
    background-color: darkgrey;
}

.consoleTerminal scrollbar.vertical slider{
    background-color: yellow;
}

.consoleTerminal scrollbar.vertical trough{
    min-width: 5px;
    background-color: black;
}

.consoleTerminal scrollbar.horizontal{
    min-width: 15px;
    background-color: darkgrey;
}

.consoleTerminal scrollbar.horizontal slider{
    background-color: yellow;
}

.consoleTerminal scrollbar.horizontal trough{
    min-width: 5px;
    background-color: black;
}

overshoot{
    background-image: none;
    background: red;
    border: 2px;
}
